<launch>

<!-- TODO: verify these remappings
      <remap from="cloud_map" to="/planner_cloud"/>
      <remap from="scan" to="/base_scan"/>
      <remap from="map" to="/map"/>
      <remap from="banana_nav/goal" to="/planner_goal"/>
      <remap from="planner_goal" to="/banana_nav/goal"/>
      <remap from="cmd_vel" to="/j5_cmd"/>  to link output to the j5 -->


      <remap from="odom" to="/odometry/filtered" />
      <remap from="map" to="rtabmap/grid_map"/>  <!-- using the RTABMAP LIDAR map... -->

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

 	      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    	  <rosparam file="/home/ubuntu/code/ROS-Launch-Files/Navigation/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
     	  <rosparam file="/home/ubuntu/code/ROS-Launch-Files/Navigation/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    	  <rosparam file="/home/ubuntu/code/ROS-Launch-Files/Navigation/params/local_costmap_params.yaml" command="load" />
    	  <rosparam file="/home/ubuntu/code/ROS-Launch-Files/Navigation/params/global_costmap_params.yaml" command="load" />
    	  <rosparam file="/home/ubuntu/code/ROS-Launch-Files/Navigation/params/base_local_planner.yaml" command="load" />

   	</node>
</launch>
