<launch>

<!-- Sensor transforms 
	  base_link is located at the geometric center of the j5 (from the top view) , and at the center of the hubs (side view) 
	  the Z distance from the wheel hub center to the deck (where payload mounting points exist) is 0.315m -->

<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link_rgb"   args="-0.36195 0 0.6604 -1.5707963267948966 0 -1.5707963267948966 base_link zed_rgb_optical_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="camera_link_rgb_to_camera_link_depth" args="0 0 0 0 0 0 zed_rgb_optical_frame zed_depth_optical_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.4318 0.1143 0.2413 0 0 0 base_link imu_link 100" />

<node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar_link" args="0.381 -0.0762 0.2413 0 0 0 base_link lidar_link 100" />


</launch>