<launch>
	<!-- Sensor Transforms -->
	<!--static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->
	<!-- yaw is rotation about Z, pitch is rotation about Y, and roll is rotation about X -->
	

	<!-- base_link to camera_link [rgb and depth] (translate and rotate)-->
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link_rgb"   args="-0.36195 0 0.6604 -1.5707963267948966 0 -1.5707963267948966 base_link zed_rgb_optical_frame 100" >
	</node>

	<node pkg="tf" type="static_transform_publisher" name="camera_link_rgb_to_camera_link_depth" args="0 0 0 0 0 0 zed_rgb_optical_frame zed_depth_optical_frame 100" >
	</node>

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_link" args="0.4318 0.1143 0.2413 0 0 0 base_link imu_link 100" >
	</node>

	<node pkg="tf" type="static_transform_publisher" name="base_link_to_lidar_link" args="0.381 -0.0762 0.2413 0 0 0 base_link lidar_link 100" >
	</node>

	<!-- base_link to gps_link (translate to same x y z as camera_link)-->
<!--
	<node pkg="tf" type="static_transform_publisher" name="base_link_to_gps_link" args="-0.3 0 1 0 0 0 base_link gps_link 100" />
  	</node>
-->
	
	
    
</launch>
